<!DOCTYPE html>
<html>

<head>
	<title> MEVN-Boilerplate </title>
	<link rel="stylesheet" href="output.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script src="conversation.js"></script>

<body>
	<div class="browser">
		<div class="browser__header">
			<i></i>
			<i></i>
			<i></i>
		</div>

		<div class="browser__content">
			<h1 id="heading">International Moose Count Underway</h1>
			<div contenteditable="true" class="browser_content user_input">
				<p id="user_input"> Edit me! </p>
			</div>

			<div class="toggle">
				<input type="checkbox" id="toggle">
				<label for="toggle">
			</div>


		</div>


	</div>
</body>

</html>